VITE_BASE_URL=""
VITE_TARGET="http://localhost:3000"
# VITE_TARGET="https://ctd-learns-node-l42tx.ondigitalocean.app"
VITE_GOOGLE_CLIENT_ID="174295933149-09i1it2go1ssjpqtqam9vdm1pj257aqu.apps.googleusercontent.com"
VITE_RECAPTCHA_SITE_KEY="6LdWAuwrAAAAAFG5iD5Dx1TgS1Ra_cTRupj_2XI0"